<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://localhost:8081/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>properties</id>
			<properties>
				<release.scm.username>xxx</release.scm.username>
				<release.scm.password>xxx</release.scm.password>
				<nexus.username>xxx</nexus.username>
				<nexus.password>xxx</nexus.password>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
		<activeProfile>properties</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>nexus</id>
			<username>${nexus.username}</username>
			<password>${nexus.password}</password>
		</server>
		<server>
			<id>releases</id>
			<username>${nexus.username}</username>
			<password>${nexus.password}</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>${nexus.username}</username>
			<password>${nexus.password}</password>
		</server>
	</servers>
</settings>
